<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Shopware US-Dev workshop</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="dist/theme/black.css">

    <!-- Shopware theme -->
    <style>
        :root {
            --r-heading-color: #0870ff;
            --r-link-color: #0870ff;
            --r-background-color: rgb(23, 29, 34);
            --r-main-font: Inter, -apple-system, Arial, sans-serif;
            --r-heading-font-weight: bold;
            --r-heading-font: Poppins, -apple-system, Arial, sans-serif;
            --r-heading-text-transform: none;
        }

        .reveal pre {
            font-size: 0.5em;
        }

        .no-line-numbers {
            .hljs-ln-numbers {
                display: none;
            }
        }
    </style>

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/themes/github-dark-dimmed.min.css">
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <h2>General intro slides</h2>
        </section>

        <section>
            <h2>Agenda</h2>
            <ul>
                <li>Architecture overview & design principles</li>
                <li>Building a new plugin: FAQ</li>
                <li>How to extend shopware in different scenarios/areas</li>
                <li>Best practice database structure
                    <!--							<ul>-->
                    <!--								<li>custom fields vs. entities</li>-->
                    <!--								<li>json fields vs. TDO</li>-->
                    <!--							</ul>-->
                </li>
                <li>How to extend the admin
                    <!--							<ul>-->
                    <!--								<li>Best practice: use extension SDK</li>-->
                    <!--								<li>Extension SDK vs. Overrides/inheritance system</li>-->
                    <!--							</ul>-->
                </li>
                <li>How to extend the Storefront
                    <!--							<ul>-->
                    <!--								<li>CMS element</li>-->
                    <!--								<li>Manual override Pro/Cons</li>-->
                    <!--								<li>Template modifications, best practices. Never use element selectors, use Bootstrap</li>-->
                    <!--							</ul>-->
                </li>

            </ul>
        </section>

        <!-- Todo: Add introduction + timeline and refactor agenda -->
        <!-- Todo: Timeline idea -->

        <section>
            <h2>Timeline</h2>
            <h2>Todo</h2>
            <div>
                <ul>
                    <li>
                        09:00 - 09:30 Introduction & Setup
                    </li>
                    <li>
                        09:30 - 11:30 Core (Backend) Development
                    </li>
                    <li>
                        11:30 - 13:00 Administration Development
                    </li>
                    <li>
                        13:00 - 14:00 Lunch Break
                    </li>
                    <li>
                        14:00 - 15:30 Administration Development (continued)
                    </li>
                    <li>
                        15:30 - 17:00 Storefront Development
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <h2>Creating a plugin</h2>

            <p>
                For quickly getting started with building a plugin, we have an interactive scaffolding command:
            </p>
            <pre><code data-trim class="language_bash">
                bin/console plugin:create
            </code></pre>
        </section>

        <section>
            <h2>Adding entities</h2>
            <h3>Entities via PHP attributes</h3>

            <pre><code data-trim class="language_php" data-line-numbers="0|6|9-11|13-15">
                namespace SwagExamplePlugin\Core\Content\Example;

                use Shopware\Core\Framework\DataAbstractionLayer\Entity;
                use Shopware\Core\Framework\DataAbstractionLayer\Attribute\Entity as EntityAttribute;

                #[EntityAttribute('example_entity')]
                class ExampleEntity extends Entity
                {
                    #[PrimaryKey]
                    #[Field(type: FieldType::UUID)]
                    public string $id;

                    #[Required]
                    #[Field(type: FieldType::STRING, api: true)]
                    public string $name;
                }
            </code></pre>
        </section>

        <section>
            <h2>Adding entities</h2>
            <h3>Registering the entity</h3>

            <pre><code data-trim class="language_xml"><script type="text/template">
                // SwagExamplePlugin/Resources/config/services.xml

                <service id="SwagExamplePlugin\Core\Content\Example\ExampleEntity">
                    <tag name="shopware.entity"/>
                </service>
            </script></code></pre>
        </section>

        <section>
            <h2>Database Migrations</h2>

            <p>creating new migration files</p>
            <pre><code data-trim class="language_bash">
                bin/console database:create-migration
            </code></pre>

            <p>creating database schema based on entity classes</p>
            <pre><code data-trim class="language_bash">
                bin/console dal:create:schema
            </code></pre>

            <p>executing migrations</p>
            <pre><code data-trim class="language_bash">
                bin/console database:migrate SwagExamplePlugin --all
            </code></pre>

            <small>* migrations inside your plugin will be automatically migrated on plugin install</small>
        </section>

        <section>
            <h2>Extending existing entities</h2>

            <pre><code data-trim class="language_php" data-line-numbers="0|3|11-14|16-21">
                // SwagExamplePlugin/src/Extension/Content/Product/CustomExtension.php

                namespace SwagExamplePlugin\Extension\Content\Product;

                use Shopware\Core\Content\Product\ProductDefinition;
                use Shopware\Core\Framework\DataAbstractionLayer\EntityExtension;
                use Shopware\Core\Framework\DataAbstractionLayer\FieldCollection;

                class CustomExtension extends EntityExtension
                {
                    public function getDefinitionClass(): string
                    {
                        return ProductDefinition::class;
                    }

                    public function extendFields(FieldCollection $collection): void
                    {
                        $collection->add(
                            new StringField('custom_string', 'customString')
                        );
                    }
                }
            </code></pre>
        </section>

        <section>
            <h2>Extending existing entities</h2>
            <h3>Registering the extension</h3>

            <pre><code data-trim class="language_xml"><script type="text/template">
                // SwagExamplePlugin/Resources/config/services.xml

                <service id="SwagExamplePlugin\Extension\Content\Product\CustomExtension">
                    <tag name="shopware.entity.extension"/>
                </service>
            </script></code></pre>
        </section>

        <section>
            <h2>Validating existing entities</h2>

            <p>
                The command checks the database schema against the entity definitions.
                It will show you if there are any inconsistencies.
            </p>

            <pre><code data-trim class="language_bash">
                bin/console dal:validate
            </code></pre>
        </section>

        <section>
            <h2>Reading/writing data</h2>
            <h3>Using the repository</h3>

            <pre><code data-trim class="language_xml"><script type="text/template">
                // SwagExamplePlugin/Resources/config/services.xml

                <service id="SwagExamplePlugin\Service\ReadingData">
                    <argument type="service" id="product.repository"/>
                </service>
            </script></code></pre>
        </section>

        <section>
            <h2>Reading data</h2>

            <pre><code data-trim class="language_php" data-line-numbers="0|10-15|17-22|24-31"><script type="text/template">
                // SwagExamplePlugin/src/Service/ReadingData.php

                namespace SwagExamplePlugin\Service;

                use Shopware\Core\Content\Product\ProductCollection;
                use Shopware\Core\Framework\DataAbstractionLayer\EntityRepository;

                class ReadingData
                {
                    /**
                     * @var EntityRepository<ProductCollection>
                     */
                    public function __construct(
                        private readonly EntityRepository $productRepository
                    ) {}

                    public function readDataById(string $id, Context $context): ProductEntity
                    {
                        $product = $this->productRepository->search(
                            new Criteria([$id]), $context
                        )->first();
                    }

                    public function readData(Context $context): void
                    {
                        $criteria = new Criteria();
                        $criteria->addFilter(new EqualsFilter('name', 'Example name'));
                        $criteria->addAssociation('productReviews');

                        $products = $this->productRepository->search($criteria, $context);
                    }
                }
            </script></code></pre>
        </section>

        <section>
            <h2>Writing data</h2>

            <pre><code data-trim class="language_php" data-line-numbers="0|18-27|29-37|39-46"><script type="text/template">
                // SwagExamplePlugin/src/Service/WritingData.php

                namespace SwagExamplePlugin\Service;

                use Shopware\Core\Content\Product\ProductCollection;
                use Shopware\Core\Framework\DataAbstractionLayer\EntityRepository;

                class WritingData
                {
                    /**
                     * @var EntityRepository<ProductCollection>
                     */
                    public function __construct(
                        private readonly EntityRepository $productRepository
                    ) {
                    }

                    public function writeData(Context $context): void
                    {
                        $this->productRepository->create([
                            [
                                'name' => 'Example product',
                                'productNumber' => 'SW123',
                                'stock' => 10,
                            ]
                        ], $context);
                    }

                    public function updateData(string $id, Context $context): void
                    {
                        $this->productRepository->update([
                            [
                                'id' => $id,
                                'name' => 'Updated product',
                            ]
                        ], $context);
                    }

                    public function deleteData(string $id, Context $context): void
                    {
                        $this->productRepository->delete([
                            [
                                'id' => $id,
                            ]
                        ], $context);
                    }
                }
            </script></code></pre>
        </section>

        <section>
            <h2>Add CLI Commands</h2>

            <pre><code data-trim class="language_bash" data-line-numbers="0|10-13|14-22">
                // SwagExamplePlugin/src/Command/ExampleCommand.php

                namespace SwagExamplePlugin\Command;

                use Symfony\Component\Console\Command\Command;
                use Symfony\Component\Console\Input\InputInterface;
                use Symfony\Component\Console\Output\OutputInterface;
                use Symfony\Component\Console\Attribute\AsCommand;

                #[AsCommand(
                    name: 'swag-commands:example',
                    description: 'Does something very special',
                )]
                class ExampleCommand extends Command
                {
                    protected function execute(InputInterface $input, OutputInterface $output): int
                    {
                        $output->writeln('It works!');

                        return Command::SUCCESS;
                    }
                }
            </code></pre>
        </section>

        <section>
            <h2>Add CLI Commands</h2>
            <h3>Registering the command</h3>

            <pre><code data-trim class="language_xml"><script type="text/template">
                // SwagExamplePlugin/Resources/config/services.xml

                <service id="SwagExamplePlugin\Command\ExampleCommand">
                    <tag name="console.command"/>
                </service>
            </script></code></pre>
        </section>

        <section>
            <h2>Your first task</h2>
            <h3>Create a demo data command</h3>

            <ul>
                <li>
                    create 100 demo products:
                    <pre><code data-trim class="language_bash">bin/console framework:demodata --products=100</code></pre>
                </li>
                <li>fetch all product IDs via the product repository</li>
                <li>for each product ID create an FAQ entry</li>
                <li>
                    you can use Faker for questions/answers
                    <pre><code data-trim class="language_php">
                        use Faker\Factory;

                        $faker = Factory::create();

                        $faker->sentence(rand(3, 5)),
                    </code></pre>
                </li>

            </ul>
        </section>

        <section>
            <h1>Administration</h1>
        </section>

        <section>
            <h2>Administration tech stack 👨‍💻</h2>
            <ul>
                <li>Vue.js 3
                    <ul>
                        <li>still options API</li>
                        <li>no single file components yet</li>
                    </ul>
                </li>
                <li>Twig.js for template inheritance</li>
                <li>TypeScript</li>
                <li>SCSS</li>
                <li>Pinia</li>
                <li>Vue I18n</li>
            </ul>
        </section>

        <section data-auto-animate>
            <h2>How to extend the Administration</h2>
            <ul>
                <li><strong>Plugins</strong><br>
                    <small>Most powerful, can override or extend any component.</small>
                </li>
                <li><strong>Apps / AdminSDK</strong><br>
                    <small>
                        Less powerful, but a lot more stable between shopware updates.
                        Can't override existing components, but instead utilises specific extension points and APIs
                        <br>
                        <span>💡AdminSDK can also be used inside Plugins</span>
                    </small>
                </li>
            </ul>
        </section>

        <section data-auto-animate>
            <h2>How to extend the Administration</h2>
            <ul>
                <li><strong>Plugins</strong><br>
                    <small>Most powerful, can override or extend any component.</small>
                </li>
                <li><strong>Apps / AdminSDK</strong><br>
                    <small>
                        Less powerful, but a lot more stable between shopware updates.
                        Can't override existing components, but instead utilises specific extension points and APIs
                        <br>
                        <span style="background-color: var(--r-link-color);">💡AdminSDK can also be used inside Plugins</span>
                    </small>
                </li>
            </ul>
        </section>

        <section>
            <h2>What is the AdminSDK?</h2>
            <ul>
                <li>You bring your own tech stack, which is rendered in iFrames at specific extension points</li>
                <li>The <a href="https://github.com/shopware/meteor/tree/main/packages/admin-sdk">AdminSDK</a> allows interactions with shopware</li>
                <li>To keep the UX/UI consistent, use our <a href="https://github.com/shopware/meteor/tree/main/packages/component-library">Meteor component library</a></li>
            </ul>
        </section>

        <section>
            <h2>iFrame & Location Concept</h2>
            <ul>
                <li>Extensions run in a hidden iFrame first to register extension points</li>
                <li>Each visible view gets a unique <code>locationId</code></li>
                <li>The height of iFrames can be automatically adjusted</li>
                <li>iFrames provide a isolated environment for extensions. Communication happens over the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage">postMessage API</a>, abstracted by the AdminSDK</li>
            </ul>
        </section>

        <section>
            <h2>Basic plugin structure</h2>
            <pre><code data-trim class="language-txt no-line-numbers" data-line-numbers="|7,10|8,11|8,12,13">
                shopware-root/custom/plugins/
                └── 📁SwagFaq
                    └── 📁src
                        └── 📁Resources
                            └── 📁app
                                └── 📁administration
                                    ├── 📄package.json
                                    ├── 📄index.html
                                    └── 📁src
                                        ├── 📄main.ts
                                        ├── 📄init-sdk.ts
                                        └── 📁locations
                                            └── 📄init-locations.ts
                </code></pre>
        </section>

        <section>
            <h2>Plugin initialization</h2>
            <pre><code data-trim class="language-typescript" data-line-numbers="1|4-8|9-15|16-22|23-27">
// SwagFaq/src/Resources/app/administration/src/main.ts
import { location } from '@shopware-ag/meteor-admin-sdk';

/**
 * Only execute extensionSDK commands when
 * it is inside a iFrame (only needed for plugins)
 */
if (location.isIframe()) {
    if (location.is(location.MAIN_HIDDEN)) {
        /**
         * This gets executed in the administration in a hidden iFrame.
         * So we don't need any visual components here. It just initializes
         * all extension points needed for this component.
         */
        import('./init-sdk');
    } else {
        /**
         * This gets executed when the administration renders
         * a location. We use a general view renderer which renders
         * the correct view based on the given location.
         */
        import('./locations/init-locations');
    }
} else {
    /**
     * plugin only code would go here
     */
}
            </code></pre>
        </section>

        <section>
            <h2>Registering extension points</h2>
            <pre><code data-trim class="language-typescript" data-line-numbers="1|8-13|15-24|22">
// SwagFaq/src/Resources/app/administration/src/init-sdk.ts
import { ui } from '@shopware-ag/meteor-admin-sdk';

/**
 * Register extension points in the hidden iFrame
 */
(async () => {
    // Add a new tab to the product detail page
    const TAB_PRODUCT = 'swagfaq-product-detail-tab-faq';
    await ui.tabs('sw-product-detail').addTabItem({
        label: 'swagFaq.productTab',
        componentSectionId: TAB_PRODUCT,
    });

    // Add a component section to the tab
    await ui.componentSection.add({
        component: 'card',
        positionId: TAB_PRODUCT,
        props: {
            title: 'swagFaq.form.title',
            subtitle: 'swagFaq.form.subtitle',
            locationId: 'swagfaq-card-list',
        },
    });
})();
            </code></pre>
        </section>

        <section>
            <h2>Rendering components for locations</h2>
            <pre><code data-trim class="language-typescript" data-line-numbers="1|5-13|15-20|22-24">
// SwagFaq/src/Resources/app/administration/src/locations/init-locations.ts
import { createApp, h, defineAsyncComponent } from 'vue';
import { location } from '@shopware-ag/meteor-admin-sdk';

// Register components for each location
const locations = {
    // key is the locationId and has to match the one
    // in the init-sdk.ts file.
    // Tip: use constants for locationIds
    'swagfaq-card-list': defineAsyncComponent(
        () => import('./faq-list.vue')
    ),
};

// Create and mount the Vue app
const app = createApp({
    render: () => h(locations[location.get()]),
});

app.mount('#app');

// Start auto-resizing for the iframe
location.startAutoResizer();
            </code></pre>
        </section>

        <section>
            <h2>Vue Component Example</h2>
            <pre><code data-trim class="language-typescript" data-line-numbers="1|2-6|8-13|15-20">
// SwagFaq/src/Resources/app/administration/src/locations/faq-list.vue
&lt;script setup lang="ts"&gt;
    import { ref } from 'vue';

    const message = ref('Hello from the FAQ list component!');
&lt;/script&gt;

&lt;template&gt;
    &lt;div&gt;
        &lt;h1&gt;FAQ List&lt;/h1&gt;
        &lt;p&gt;{{ message }}&lt;/p&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;style scoped&gt;
    h1 {
        /* Use color from meteor design system */
        color: var(--color-brand-500);
    }
&lt;/style&gt;</code></pre>
        </section>

        <!-- Todo:
        - Live demo, show vue dev tools
        - Explain data.get
        - Explain repositories + criteria
        - Hands on / try it yourself: Retrieve product id + version_id and fetch all related swag_faq_entries

        - main branch is our finished solution
        - task branch
        -->

        <section>
            <h1>Storefront</h1>
        </section>

        <section>
            <h2>Storefront tech stack 👩‍💻</h2>
            <ul>
                <li>Server-side rendering</li>
                <li>Symfony Twig</li>
                <li>SCSS</li>
                <li>Bootstrap 5.3</li>
                <li>Vanilla JavaScript</li>
            </ul>
        </section>

        <section>
            <h2>How to extend the Storefront</h2>

            <p>There are multiple entry points how to modify the Storefront</p>
            <ul>
                <li><strong>Plugins</strong><br>
                    <small>Most powerful, has access to the code and PHP, only works on-prem.</small>
                </li>
                <li><strong>Apps</strong><br>
                    <small>Does not have direct PHP access, works on-prem and SaaS. Template extensions also work in apps.</small>
                </li>
                <li><strong>Themes</strong><br>
                    <small>A plugin or app with additional theming capabilities via theme configuration. Can be specific per sales channel.</small>
                </li>
            </ul>
        </section>

        <section>
            <h2>What can be modified</h2>
            <ul>
                <li>🌱 Twig templates (HTML)</li>
                <li>🎨 (S)CSS</li>
                <li>⚙️ JavaScript</li>
            </ul>
        </section>

        <section>
            <h2>Extend templates</h2>
            <ul>
                <li>Twig templates can be overwritten or extended.</li>
                <li>Templates contain Twig <code>{% block %}</code> placeholders for extensions.</li>
                <li>The template extension is referenced by file name and file path.</li>
            </ul>
            <img width="300" height="300" src="https://uploads.sitepoint.com/wp-content/uploads/2017/06/1498395285Twig.png">
        </section>

        <section>
            <p><strong>Example</strong></p>
            <h2>Extend the base template</h2>
        </section>

<!--        <section>-->
            <section>
                <h3>Find the core template</h3>
                <pre><code data-trim class="language-txt">
                shopware-root/
                └── 📁src
                    └── 📁Storefront
                        └── 📁Resources
                            └── 📁views
                                └── 📁storefront
                                    ├── 📁block
                                    ├── 📁component
                                    ├── 📁element
                                    ├── [...]
                                    └── 🌱base.html.twig <--
                </code></pre>
            </section>

            <section>
                <h3>Add your template</h3>
                <pre><code data-trim class="language-txt">
                shopware-root/custom/plugins/
                └── 📁SwagFaq
                    └── 📁src
                        └── 📁Resources
                            └── 📁views
                                └── 📁storefront
                                    └── 🌱base.html.twig <--
                </code></pre>
                <ul>
                    <li>Structure from /Resources/ needs to be the same.</li>
                    <li>Creating the same file results in an override.</li>
                </ul>
            </section>
<!--        </section>-->

<!--        <section>-->
            <section>
                <h3>Find block in core template</h3>
                <pre><code data-trim class="language-twig" data-line-numbers="1-8|38|38-58"><script type="text/template">
                {# src/Storefront/Resources/views/storefront/base.html.twig #}
                {% block base_doctype %}<!DOCTYPE html>{% endblock %}

                {% block base_html %}
                <html lang="{{ context.saleschannel.languages.first.translationCode.code }}"
                      itemscope="itemscope"
                      itemtype="https://schema.org/WebPage">
                {% endblock %}

                {% block base_head %}
                    {% sw_include '@Storefront/storefront/layout/meta.html.twig' %}
                {% endblock %}

                {% block base_body %}
                    <body class="{% block base_body_classes %}is-ctl-{% if controllerName is not empty %}{{ controllerName|lower }}{% endif %} is-act-{% if controllerAction is not empty %}{{ controllerAction|lower }}{% endif %}{% endblock %}">

                    {% block base_body_inner %}
                        {% block base_header %}
                            {% sw_include '@Storefront/storefront/utilities/staging-info.html.twig' %}

                            <header class="header-main">
                                {% block base_header_inner %}
                                    <div class="container">
                                        {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
                                    </div>
                                {% endblock %}
                            </header>
                        {% endblock %}

                        {% block base_navigation %}
                            <div class="nav-main">
                                {% block base_navigation_inner %}
                                    {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block base_main %}
                            <main class="content-main" id="content-main">
                                {% block base_flashbags %}
                                    <div class="flashbags container">
                                        {% for type, messages in app.flashes %}
                                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                                        {% endfor %}
                                    </div>
                                {% endblock %}

                                {% block base_main_inner %}
                                    <div class="container">
                                        {% block base_main_container %}
                                            <div class="container-main">
                                                <!-- Main content -->
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </main>
                        {% endblock %}

                        {% block base_footer %}
                            <footer class="footer-main">
                                {% block base_footer_inner %}
                                    {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
                                {% endblock %}
                            </footer>
                        {% endblock %}
                        {% endif %}
                    {% endblock %}

                    {% block base_scroll_up %}
                        {% sw_include '@Storefront/storefront/layout/scroll-up.html.twig' %}
                    {% endblock %}

                    {% block base_cookie_permission %}
                        {% sw_include '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}
                    {% endblock %}

                    {% block base_pseudo_modal %}
                        {% sw_include '@Storefront/storefront/component/pseudo-modal.html.twig' %}
                    {% endblock %}

                    {% block base_body_script %}
                    {% endblock %}
                    </body>
                {% endblock %}
                </html>
                </script></code></pre>
            </section>

            <section>
                <h3>Extend block in your template</h3>
                <pre><code data-trim class="language-twig" data-line-numbers="2|4-10"><script type="text/template">
                {# SwagFaq/src/Resources/views/storefront/base.html.twig #}
                {% sw_extends '@Storefront/storefront/base.html.twig' %}

                {% block base_main %}
                    <div class="container">
                        <div class="bg-success text-white p-3 my-3 fs-3 fw-bold">
                            I override the main base_main block
                        </div>
                    </div>
                {% endblock %}
                </script></code></pre>

                <ul>
                    <li>sw_extends makes all blocks of base.html.twig available.</li>
                    <li>sw_extends enables multi-inheritance.</li>
                </ul>
            </section>

            <section>
                <img src="img/block-override.png">
            </section>

            <section>
                <h3>Parent call</h3>
                <pre><code data-trim class="language-twig" data-line-numbers="10"><script type="text/template">
                {# SwagFaq/src/Resources/views/storefront/base.html.twig #}
                {% sw_extends '@Storefront/storefront/base.html.twig' %}

                {% block base_main %}
                    <div class="container">
                        <div class="bg-success text-white p-3 my-3 fs-3 fw-bold">
                            I override the main base_main block
                        </div>
                    </div>
                    {{ parent() }}
                {% endblock %}
                </script></code></pre>

                <p>The parent() call returns the HTML content of the core block.</p>
            </section>

            <section>
                <img src="img/parent-call.png">
            </section>
<!--        </section>-->

        <section>
            <p><strong>Example</strong></p>
            <h2>Add custom CSS</h2>
        </section>

<!--        <section>-->
            <section>
                <h3>Add SCSS entry file</h3>
                <pre><code data-trim data-line-numbers="5-9" class="language-txt">
                shopware-root/custom/plugins/
                └── 📁SwagFaq
                    └── 📁src
                        └── 📁Resources
                            ├── 📁app
                            │   └── 📁storefront
                            │       └── 📁src
                            │           └── 📁scss
                            │               └── 📄base.scss
                            └── 📁views
                </code></pre>
                <ul>
                    <li>CSS is written in SCSS.</li>
                    <li>The base.scss of the plugin is automatically picked up by shopware.</li>
                </ul>
            </section>
            <section>
                <h3>Add CSS</h3>

                <pre><code data-trim class="language-scss">
                // SwagFaq/src/Resources/app/storefront/src/scss/base.scss
                .footer-main {
                    background: $primary-bg-subtle;
                }
                </code></pre>
                <ul>
                    <li>In the base.scss you can write any CSS.</li>
                    <li>You can strucuture your SCSS with @import files.</li>
                    <li>You can use Bootstrap SCSS variables and mixins.</li>
                </ul>
            </section>
<!--        </section>-->

<!--        <section>-->
            <section>
                <h3>Add JS entry file</h3>

                <pre><code data-trim data-line-numbers="5-8" class="language-txt">
                shopware-root/custom/plugins/
                └── 📁SwagFaq
                    └── 📁src
                        └── 📁Resources
                            ├── 📁app
                            │   └── 📁storefront
                            │       └── 📁src
                            │           └── 📄main.js
                            └── 📁views
                </code></pre>

                <ul>
                    <li>The main.js is automatically picked up by shopware and creates a script tag in the template.</li>
                    <li>JS will be bundled webpack.</li>
                </ul>
            </section>
            <section>
                <h3>Add JavaScript</h3>

                <pre><code data-trim class="language-javascript">
                // SwagFaq/src/Resources/app/src/main.js

                window.PluginManager.register(
                    'SwagFaq',
                    () => import('src/plugin/my-plugin'),
                    '[data-swag-fag]'
                );
                </code></pre>
                <ul>
                    <li>JavaScript is written in vanilla JavaScript.</li>
                    <li>You can use bootstrap JavaScript e.g. Events.</li>
                </ul>
            </section>
<!--        </section>-->

        <section>
            <h2>Possible tasks</h2>
            <p>Add the Bootstrap carousel?</p>
            <p>Add the complete CMS element?</p>
            <p>Add custom CSS to </p>
        </section>

        <section>
            <h2>Add custom controller</h2>
            <h3>Add storefront controller</h3>

            <pre><code data-trim class="language-php" data-line-numbers="0|12|15-21|23-29">
                // SwagExamplePlugin/src/Storefront/Controller/ExampleController.php

                namespace SwagExamplePlugin\Storefront\Controller;

                use Shopware\Core\System\SalesChannel\SalesChannelContext;
                use Shopware\Storefront\Controller\StorefrontController;
                use Symfony\Component\HttpFoundation\JsonResponse;
                use Symfony\Component\HttpFoundation\Request;
                use Symfony\Component\HttpFoundation\Response;
                use Symfony\Component\Routing\Attribute\Route;

                #[Route(defaults: ['_routeScope' => ['storefront']])]
                class ExampleController extends StorefrontController
                {
                    #[Route(path: '/example/template', name: 'frontend.example.template', methods: ['GET'])]
                    public function showExample(): Response
                    {
                        return $this->renderStorefront('@SwagExamplePlugin/storefront/page/example.html.twig', [
                            'example' => 'Hello world'
                        ]);
                    }

                    #[Route(path: '/example/json', name: 'frontend.example.ajax', methods: ['GET'], defaults: ['XmlHttpRequest' => 'true'])]
                    public function showExample(): JsonResponse
                    {
                        return new JsonResponse([
                            'success' => true,
                        ]);
                    }
                }
            </code></pre>
        </section>

        <section>
            <h2>Add custom controller</h2>
            <h3>Registering your controller</h3>

            <pre><code data-trim class="language-xml"><script type="text/template">
                <!-- SwagExamplePlugin/Resources/config/services.xml -->

                <service id="SwagExamplePlugin\Storefront\Controller\ExampleController" public="true">
                    <call method="setContainer">
                        <argument type="service" id="service_container"/>
                    </call>
                    <call method="setTwig">
                        <argument type="service" id="twig"/>
                    </call>
                </service>
            </script></code></pre>
        </section>

        <section>
            <h2>Add custom controller</h2>
            <h3>Registering the routes</h3>

            <pre><code data-trim class="language-xml"><script type="text/template">
                <!-- SwagExamplePlugin/src/Resources/config/routes.xml -->

                <routes xmlns="http://symfony.com/schema/routing"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xsi:schemaLocation="http://symfony.com/schema/routing
                        https://symfony.com/schema/routing/routing-1.0.xsd">

                        <import resource="../../Storefront/Controller/*Controller.php" type="attribute" />
                </routes>
            </script></code></pre>
        </section>

        <section>
            <h2>Shopware API</h2>
            <ul>
                <li>Store API</li>
                <li>Admin API</li>
            </ul>
            <p>What is the difference?</p>
        </section>

        <section>
            <h2>Add store API route</h2>
            <h3>Create abstract route class</h3>

            <pre><code data-trim class="language-php">
                // SwagExamplePlugin/src/Core/Content/Example/SalesChannel/AbstractExampleRoute.php

                namespace SwagExamplePlugin\Core\Content\Example\SalesChannel;

                use Shopware\Core\System\SalesChannel\SalesChannelContext;
                use Shopware\Core\System\SalesChannel\StoreApiResponse;
                use Symfony\Component\HttpFoundation\Request;

                abstract class AbstractExampleRoute
                {
                    abstract public function getDecorated(): AbstractExampleRoute;

                    abstract public function submit(Request $request, SalesChannelContext $context): StoreApiResponse;
                }
            </code></pre>
        </section>

        <section>
            <h2>Add store API route</h2>
            <h3>Create route class</h3>

            <pre><code data-trim class="language-php" data-line-numbers="0|12|22-25|27|28-41"><script type="text/template">
                // SwagExamplePlugin/src/Core/Content/Example/SalesChannel/ExampleRoute.php

                namespace SwagExamplePlugin\Core\Content\Example\SalesChannel;

                use Shopware\Core\Framework\DataAbstractionLayer\EntityRepository;
                use Shopware\Core\Framework\DataAbstractionLayer\Search\Criteria;
                use Shopware\Core\Framework\Plugin\Exception\DecorationPatternException;
                use Shopware\Core\System\SalesChannel\SalesChannelContext;
                use Shopware\Core\System\SalesChannel\SuccessResponse;
                use Symfony\Component\Routing\Attribute\Route;

                #[Route(defaults: ['_routeScope' => ['store-api']])]
                class ExampleRoute extends AbstractExampleRoute
                {
                    /**
                     * @param EntityRepository<ProductCollection> $productRepository
                     */
                    public function __construct(private readonly EntityRepository $productRepository)
                    {
                    }

                    public function getDecorated(): AbstractExampleRoute
                    {
                        throw new DecorationPatternException(self::class);
                    }

                    #[Route(path: '/store-api/example', name: 'store-api.example', methods: ['POST'])]
                    public function submit(Request $request, SalesChannelContext $context): StoreApiResponse
                    {
                        $this->productRepository->update(
                            [
                                [
                                    'id' => $request->get('id'),
                                    'name' => $request->get('name'),
                                ]
                            ],
                            $context->getContext()
                        );

                        return new SuccessResponse();
                    }
                }
            </script></code></pre>
        </section>

        <section>
            <h2>Add store API route</h2>
            <h3>Registering the route</h3>

            <pre><code data-trim class="language-xml"><script type="text/template">
                <!-- SwagExamplePlugin/Resources/config/services.xml -->

                <service id="Swag\BasicExample\Core\Content\Example\SalesChannel\ExampleRoute">
                    <argument type="service" id="product.repository"/>
                </service>
            </script></code></pre>

            <pre><code data-trim class="language-xml"><script type="text/template">
                <!-- SwagExamplePlugin/src/Resources/config/routes.xml -->

                <import resource="../../Core/**/*Route.php" type="attribute" />
            </script></code></pre>
        </section>

        <section>
            <h2>Add storefront JS plugin</h2>

            <pre><code data-trim class="language-javascript" data-line-numbers="0|8-11|13-21|26-34"><script type="text/template">
                // SwagExamplePlugin/src/Resources/app/storefront/src/example-plugin/example-plugin.plugin.js

                import HttpClient from "src/service/http-client.service";

                const { PluginBaseClass } = window;

                export default class ExamplePlugin extends PluginBaseClass {
                    static options = {
                        id: null,
                        name: null
                    };

                    init() {
                        this._client = new HttpClient();

                        this._registerEvents();
                    }

                    _registerEvents() {
                        this.button.onclick = this._submit.bind(this);
                    }

                    async _submit(event) {
                        event.preventDefault();

                        this._client.post(
                            '/store-api/example',
                            JSON.stringify({
                                id: this.id,
                                name: this.name,
                            }),
                            (response) => {
                                console.log(response);
                            }
                        );
                    }
                }
            </script></code></pre>
        </section>

        <section>
            <h2>Add storefront JS plugin</h2>
            <h3>Registering your plugin</h3>

            <pre><code data-trim class="language-javascript">
                // SwagExamplePlugin/src/Resources/app/storefront/src/main.js

                window.PluginManager.register(
                    'ExamplePlugin',
                    () => import('./example-plugin/example-plugin.plugin'),
                    '[data-example-plugin]'
                );
            </code></pre>
        </section>

        <section>
            <h2>Add storefront JS plugin</h2>
            <h3>Loading your plugin</h3>

            <pre><code data-trim class="language-twig" data-line-numbers="0|5-8|13"><script type="text/template">
                // SwagExamplePlugin/src/Resources/views/storefront/page/product-detail/index.html.twig

                {% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

                {% set examplePluginOptions = {
                    id: page.product.id,
                    name: page.product.name,
                } %}

                {% block page_product_detail_content %}
                    {{ parent() }}

                    <template data-example-plugin data-example-plugin-options='{{ examplePluginOptions|json_encode }}'></template>
                {% endblock %}
            </script></code></pre>
        </section>

        <section>
            <h2>Your next task</h2>
            <h3>Users create FAQ entries</h3>

            <ul>
                <li>create Store API route to create FAQ entry</li>
                <li>create storefront controller to expose the new route</li>
                <li>create a form in the FAQ CMS element to submit new entry</li>
                <li>optional: submit form via AJAX by creating a storefront JS plugin</li>
            </ul>
        </section>
    </div>
</div>

<script src="dist/reveal.js"></script>
<script src="plugin/notes/notes.js"></script>
<script src="plugin/markdown/markdown.js"></script>
<script src="plugin/highlight/highlight.js"></script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    Reveal.initialize({
        hash: true,
        center: false,
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
    });
</script>
</body>
</html>
